@import "tailwindcss";

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/portfolio/public/noise.jpg") repeat;
  opacity: 0.05;          /* 5% */
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: soft-light;
}